
</div>
<div class="footer-padding">
<footer class="footer">
  <i class="fab fa-twitter f-icons"></i>
  <i class="fab fa-facebook-f f-icons"></i>
  <i class="fab fa-instagram f-icons"></i>
  <i class="fas fa-envelope f-icons"></i>
  <p>@Copyright Vyalah</p>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/index.js"></script>
</body>
</html>
