<%- include('partials/header') -%>
<img src="images/About.png" class="image" alt="bottle">

  <div class="container">
<h1 class="main-head"> About <i class="fas fa-paper-plane icon"></i> </h1>
<div class="start-para">
  <p><%= aPara %></p>
</div>
<img src="images/This is.png" class="image img1" alt="bottle">
<hr>
<div class="content">
  <div class="row">
    <div class="col-sm-6 col">
      <h3>  Critical Thinking</h3>
      <p>You want me to pose as a buyer to increase sales? Done! You are going to get caught? Escape plan ready! You got caught? My Escape plan still ready! Well, what do we say, you put me anywhere I will show you the easiest way to get through. You call it wit, I call it a very lazy gut!</p>

    </div>
    <div class="col-sm-6 col ">

        <i class="fas fa-code fa-7x pic1"></i>

    </div>

    </div>
    <div class="row">
      <div class="col-sm-6 col">
        <img class="pic2" src="https://image.flaticon.com/icons/svg/838/838596.svg" alt="">
          </div>
        <div class="col-sm-6 col">
          <h3>  Dealing with People</h3>
          <p>Humans are awesome. Every single one ironically unique. Something or the other is there to differentiate one from another. And surprinsingly most of the lot, though pose as difficult to deal with are in fact very primitive creatures with pseudo-complex tendencies. Once you identify the pattern, the uniqueness key kind of becomes minuscule.</p>

        </div>
    </div>
  </div>
  <br>
  <br>
<hr>
<div class="row">
  <div class="col">
    <p>      I guess this much of flaunting is enough for a day! So see ya... Hit home and read something else!</p>
  </div>
</div>


<%- include('partials/footer') -%>
