<%- include('partials/header') -%>
<img src="images/About.png" class="image" alt="bottle">

  <div class="container">
<h1 class="main-head"><i class="fas fa-seedling icon"></i> Contact </h1>
<div class="start-para">
  <p><%= cPara %></p>
</div>
<div class="wrapper">
  <button type="submit" class="btn btn-lg btn-outline-light "name="button">Let's Chat!</button>
</div>


<%- include('partials/footer') -%>
