<%- include('partials/header') -%>
<img src="\images\Posts.png" class="image" alt="">

  <div class="container">
<h1 class="main-head"><%= postObj.title %></h1>
<p><%= postObj.body %></p>
<%- include('partials/footer') -%>
